#mainView {
	padding: 15px;
}

	#mainView .padded {
		padding-top: 34px;
	}

		#mainView .padded button {
			display: block;
			width: 100%;
		}

	#mainView label {
		font-weight: 700;
		font-size: 18px;
	}

	#mainView #logoutWrap {
		text-align: right;
	}

		#logoutWrap button {
			margin: 0;
		}
